.gradle/6.7/gc.properties
.project
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileChanges/last-build.bin
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/fileHashes/resourceHashesCache.bin
.gradle/6.7/javaCompile/classAnalysis.bin
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/6.7/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/modules/gameriprofibot.iml
.settings/org.eclipse.buildship.core.prefs
bin/main/config.json
bin/main/com/hades/gameriprofi/Bot.class
bin/main/com/hades/gameriprofi/Listener.class
bin/main/com/hades/gameriprofi/commands/ChangePropCommands.class
bin/main/com/hades/gameriprofi/commands/ModCommands.class
bin/main/com/hades/gameriprofi/commands/ServerCommands.class
bin/main/com/hades/gameriprofi/commands/WarnCommand.class
bin/main/com/hades/gameriprofi/config/ConfigRead.class
build/classes/com/hades/yes.txt
build/classes/java/main/com/hades/gameriprofi/Bot.class
build/classes/java/main/com/hades/gameriprofi/Listener.class
build/classes/java/main/com/hades/gameriprofi/commands/ChangePropCommands.class
build/classes/java/main/com/hades/gameriprofi/commands/ModCommands.class
build/classes/java/main/com/hades/gameriprofi/commands/ServerCommands.class
build/classes/java/main/com/hades/gameriprofi/commands/WarnCommand.class
build/classes/java/main/com/hades/gameriprofi/config/ConfigRead.class
build/distributions/gameriprofibot-1.0.tar
build/distributions/gameriprofibot-1.0.zip
build/distributions/gameriprofibot-shadow-1.0.tar
build/distributions/gameriprofibot-shadow-1.0.zip
build/libs/config.properties
build/libs/gameriprofibot-1.0.jar
build/libs/run.bat
build/libs/token.txt
build/libs/warn.json
build/scripts/gameriprofibot
build/scripts/gameriprofibot.bat
build/scriptsShadow/gameriprofibot
build/scriptsShadow/gameriprofibot.bat
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/jar/MANIFEST.MF
build/tmp/shadowJar/MANIFEST.MF
src/main/resources/config.properties
bin/main/com/hades/gameriprofi/core/Bot.class
bin/main/com/hades/gameriprofi/core/CreateWarnFile.class
bin/main/com/hades/gameriprofi/events/FWord.class
bin/main/com/hades/gameriprofi/events/Listener.class
bin/main/com/hades/gameriprofi/log/Logger.class
build/classes/java/main/com/hades/gameriprofi/core/Bot.class
build/classes/java/main/com/hades/gameriprofi/core/CreateWarnFile.class
build/classes/java/main/com/hades/gameriprofi/events/FWord.class
build/classes/java/main/com/hades/gameriprofi/events/Listener.class
build/classes/java/main/com/hades/gameriprofi/log/Logger.class
build/libs/log.txt
build/libs/noWordList.json
bin/main/com/hades/gameriprofi/commands/BadWordsCommands.class
build/classes/java/main/com/hades/gameriprofi/commands/BadWordsCommands.class
.VSCodeCounter/2021-04-08_17-35-21/details.md
.VSCodeCounter/2021-04-08_17-35-21/results.csv
.VSCodeCounter/2021-04-08_17-35-21/results.md
.VSCodeCounter/2021-04-08_17-35-21/results.txt
